.profile-container {
  background-color: #242729;
  color: #fff;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  margin: 1em auto;
  max-width: 800px;
}

.profile-image, .profile-info{
  display:flex;
  flex-direction: column;
  padding:100px 50px 50px 100px;
  align-content:center;

}

.profile-info input{
  padding: 10px;
  border-radius: 4px;
  width:280px;
  outline: none;

}

.save-profile{
  text-align: right;
  padding: 10px;
}

.buttons {
  position: absolute;
  right: 0;
  padding: 0.5em;
}

.buttons:hover {
  background-color: #242729;
}

.profile-image-big {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 1em;
}

.profile-username {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.profile-email,
.profile-name {
  font-size: 0.9em;
  color: #aaa;
  margin-bottom: 0.5em;
}

.favourite-heading {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1em;
  font-family: inherit;
  color: #fcd938;
  padding: 0.5em 1em;
  border-radius: 4px;
  background-color: #2b2e30;
  transition: background-color 0.2s ease-in-out;
}

.faourite-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(148px, 12%));
  gap: 1em;
  max-width: 700px;
  margin-top: 0;
}

.favourite-item {
  background-color: #2b2e30;
  border-radius: 4px;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out;
}

.favourite-item:hover {
  background-color: #242729;
}

.favourite-item {
  position: relative;
}

.remove-favourite {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.5;
}

.favourite-item:hover .remove-favourite {
  opacity: 1;
}

.favourite-item.removed {
  opacity: 0;
  transform: scale(0.5);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}


.favourite-item a {
  text-decoration: none;
  color: inherit;
}

.favourite-item img {
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.favourite-item:hover img {
  transform: scale(1.05);
}

.favourite-item:hover {
  opacity: 0.8;
}

.profile-icon {
  right: 0;
  top: 0;
  cursor: pointer;
  position: absolute;
  padding: 30px;
}

.profile-menu {
  position: absolute;
  right: 0;
  width: 150px;
  background-color: #303335;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  overflow: hidden;
}

.profile-menu li:hover {
  background-color: #2b2e30;

}

.profile-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile-menu li {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.profile-icon img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: auto;
}

.recomendation-container {
  background-color: #2b2e30;
  border-radius: 4px;
  padding: 1em;
  margin: 1em 0;
  color: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}